@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <div class="login-page">
        <div class="form">
            @*<form class="register-form" >
            <input type="text" placeholder="name" />
            <input type="password" placeholder="password" />
            <input type="text" placeholder="email address" />
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>*@
            <form id="form1" class="login-form" method="post" action="/Login/VerifyLogin">
                <input name="name" type="text" id="name" placeholder="usuario" />
                <input type="password" autocomplete="off" name="pass" id="pass" placeholder="password" />
                <button type="submit" form="form1" value="Submit">login</button>
                @*<p class="message">Not registered? <a href="#">Create an account</a></p>*@
            </form>
        </div>
    </div>
</div>


