@{
    ViewData["Title"] = "First screen";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FirstScreen</title>
</head>
<body>
    <h1>Congratulations!</h1>
    <div>You are logged!!</div>
</body>
</html>
