@{
    ViewData["Title"] = "Locked User";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LockedUser</title>
</head>
<body>
    <h1>User locked</h1>
    <div>Contact your system administrator</div>
</body>
</html>
